* {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
}

html, body {
	height: 100%;
}

body {
	background-image: url("../images/concrete_seamless.png");
	margin: 0px;
	display: flex;
	flex-direction: column;
}

.clearfix::after {
	display: block;
	content: "";
	clear: both;
	overflow: auto;
}

.teal-text {
	color: #4aaaa5;
}

.teal-background {
	color: #ffffff;
	background-color: #4aaaa5;
}

.white-background {
	background-color: #ffffff;
}

.float-left {
	float: left;
}

.auto-margin {
	margin: auto;
}


/*  HEADER RULES  */
#main-header {
	height: 90px;
	width: 100%;
	min-width: 960px;
	line-height: 90px;
	margin-bottom: 38px;
	border-bottom: 2px solid #cccccc;
}

h1, h2, h3 {
	font-family: 'Georgia', Times, Times New Roman, serif;
}

#head-wrapper {
	height: 100%;
	width: 960px;
	position: relative;
}

#title {
	text-align: center;
	height: 100%;
	width: 280px;
}

#header-links {
	position: absolute;
	right: 0;
}

#header-links a {
	text-decoration: none;
}

#header-links a:nth-child(2) {
	margin: 0px 20px;
	padding: 0px 20px;
	border-right: 1px solid #dddddd;
	border-left: 1px solid #dddddd;
}


/*  MAIN CONTENT SECTION RULES  */
.wrapper {
	width: 960px;
	position: relative;
	flex: 1 0 auto;
}

#content {
	width: 650px; 
	border: 1px solid #dddddd;
	box-sizing: border-box;
}

#content-wrapper {
	margin: 30px;
}

#content-head {
	margin: 0;
	padding-bottom: 30px;
	margin-bottom: 20px;
	border-bottom: 3px solid #dddddd;
}


/*  CONNECT WITH ME SECTION RULES  */
#profile-links-wrapper {
	padding: 30px;
	width: 270px;
	border: 1px solid #dddddd;
	box-sizing: border-box;
	position: absolute;
	right: 0;
}

#profile-links-head {
	font-size: 22px;
	margin: 0;
	padding-bottom: 24px;
	margin-bottom: 24px;
	border-bottom: 2px solid #dddddd;
}

#profile-links-wrapper img {
	width: 62px;
	height: 62px;
	vertical-align: bottom;
}

#link-logo {
	margin: 0px 11px;
}


/*  FOOTER RULES  */
footer {
	height: 94px;
	width: 100%;
	min-width: 960px;
	margin-top: 30px;
	border-top: 8px solid #4aaaa5;
	background-color: #666666;
}

#footer-wrapper {
	text-align: center;
}

#copyright {
	color: #eeeeee;
	line-height: 94px;
	margin: 0;
}


/*  ABOUT PAGE RULES  */
#bio-img {
	margin: 10px 25px 10px 0px;
	height: 150px;
	width: 200px;
}

#bio-text {
	line-height: 2em;
}


/*  PORTFOLIO PAGE RULES  */
#portfolio-content > div:first-child {
	padding-top: 20px;
}

#portfolio-content > div:last-child {
	padding-bottom: 10px;
}

.portfolio-row {
	position: relative;
	width: 100%;
	padding-bottom: 56px;
}

.portfolio-row img {
	display: block;
	width: 274px;
	height: 205px;
}

.portfolio-row > div:nth-child(1) {
	position: relative;
}

.portfolio-row > div:nth-child(2) {
	position: absolute;
	right: 0;
}

.portfolio-labels {
	position: absolute;
	bottom: 9px;
	width: 100%;
	height: 60px;
	text-align: center;
}


/*  CONTACT PAGE RULES  */
#contact-name,
#contact-email,
#contact-message {
	width: 100%;
	box-sizing: border-box;
	margin: 10px 0px 20px 0px;
	padding: 8px;
}

#contact-message {
	height: 200px;
}

#contact-submit {
	border: none;
	text-decoration: none;
	padding: 10px 30px;
}